@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__attribution {
  background: rgba(255, 253, 253, 0.5) !important;
}

.path-animation {
  stroke-dashoffset: 0;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}